p {
	color: red;
	font-size: 22pt;
}
#gruby_babajew {
	color: green;
	font-size: 17pt;
	font-weight: 900;
}
#dla_wszystkich_babajew {
	color: yellow;
	font-size: 10pt;
	font-style: Arial;
}